<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        
      <add key="Measurement_Result_Passed" value="0"/>
      <add key="Measurement_Result_Failed" value="0"/>
      <add key="Analog_Result_Passed" value="0"/>
      <add key="Analog_Result_Failed" value="0"/>
      <add key="Connected" value="0"/>
      
      <add key ="LogIdxDate" value="20211006"/> <!-- 로그 일련번호 갱신용 날짜 -->
      <add key ="LogIdx" value="0"/> <!-- 로그 일련번호-->
    </appSettings>
</configuration>